[Unit]
Description=bokehro
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/bokehro
ExecStart=/usr/bin/python3 -u app.py
StandardOutput=null

[Install]
WantedBy=default.target
